  <!-- <p>https://www.youtube.com/watch?v=gXLjWRteuWI&t=2s</p>
  <p>https://www.figma.com/file/ReJbOWDc0WR1uizrsgfyfQ/project?node-id=0%3A1</p> -->

<!-- <img src="assets/images/shoe.jpg" alt="red nike shoe"> -->
<div class="hero-img"></div>
<div class="wrapper">
  <header>
    <a href="#" class="logo">Shoe<span>Brand</span></a>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sneakers</a></li>
        <li><a href="#">Players</a></li>
      </ul>
    </nav>

    <img src="assets/images/menu-icon.svg" alt="menu">
  </header>

  <section class="hero">
    <h1>Regain your confidence on the court.</h1>
    <p class="subhead">A shoe built with purpose and to take your game to the next level.</p>

    <svg class="down-arrow" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
      </svg>      
  </section>

  <section class="more-info">
    <div class="feature">
      <div class="content">
        <p class="title">Lightweight</p>
        <p class="title">Upper mesh material provides proper ventilation and reduction in the weight.</p>
      </div>
      <img src="assets/images/shoe2.jpg" alt="Another shoe">
    </div>
    <div class="feature left">
      <div class="content">
        <p class="title">Lightweight</p>
        <p class="title">Upper mesh material provides proper ventilation and reduction in the weight.</p>
      </div>
      <img src="assets/images/shoe3.jpg" alt="Another shoe">
    </div>
    <div class="feature">
      <div class="content">
        <p class="title">Lightweight</p>
        <p class="title">Upper mesh material provides proper ventilation and reduction in the weight.</p>
      </div>
      <img src="assets/images/shoe4.jpg" alt="Another shoe">
    </div>
  </section>
</div>